<%- include("partials/header.ejs") %>
<div class="posts-container">
    <% if (locals.posty.length > 0) { %>
        <% posty.forEach((element, index) => { %>
            <div class="post" data-id="<%= index %>">
                <p><%= element %></p>
                <form action="/delete/<%= index %>" method="POST">
                    <button type="submit">Usuń</button>
                </form>
                <form action="/edit/<%= index %>" method="POST">
                    <button type="submit">Edytuj</button>
                </form>
            </div>
        <% }); %>
    <% } else { %>
        <h1>Brak postów</h1>
    <% } %>
</div>
<%- include("partials/footer.ejs") %>